/* .add_event_form {
    background-color: lightblue;
} */

.choice_block {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
}

.choice_block_container {
    display: flex;
    flex-direction: row;
}

red {
    color: red;
}