<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="../static/css/add_task.css">
</head>

<body>
    <!-- A template to display the date of the day goes here -->
    <h1 style="text-align: center;">Add a new event to day n</h1>
    <!-- action can be changed -->
    <form action="add_ev" method="POST" class="add_event_form">
        <label for="ev_name">Event name:</label><br>
        <input type="text" id="ev_name" name="ev_name"><br>
        <label for="from_time">From time:</label><br>
        <input type="text" id="from_time" name="from_time"><br>
        <!-- <select name="n" id="n">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
        </select> -->
        <label for="to_time">To time:</label><br>
        <input type="text" id="to_time" name="to_time"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>