<!DOCTYPE html>
<html lang="en">
    
<!-- expect template parameters: pathBack, pathCreateTask -->
<!-- where:
- pathBack: str - virtual path to the previous page
- pathCreateEvent: str - virtual path to the createEvent page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="../static/css/addEvent.css">
    <link rel="stylesheet" href="../static/css/button.css">
</head>

<body>
    <!-- A template to display the date of the day goes here -->
    <h1 style="text-align: center;">Customize your task</h1>
    <!-- action can be changed -->
    <form action="{{ pathCreateTask }}" method="POST" class="add_task_form">
        <label for="Task_name">Task name:</label><br>
        <input type="text" id="event_name" name="event_name"><br>

        <label for="task_description">Task description:</label><br>
        <input type="textarea" id="task_description" name="task_description"><br>

        <label for="from_time">Start Time (HH:MM):</label><br>
        <input type="time" id="from_time" name="from_time" required><br>
        
        <label for="to_time">End Time (HH:MM):</label><br>
        <input type="time" id="to_time" name="to_time" required><br>
        
        <br>
        <input type="submit" class="action-button" value="Submit">
    </form>

    <div class="button-container">
        <form action="{{ pathBack }}" method="POST"><button class="action-button">Cancel</button></form>
    </div>

</body>
</html>