<!DOCTYPE html>
<html lang="en">
    
<!-- expect template parameters: day_name, month_name, day_number -->
<!-- where:
- day_name: str - what day of the week it is
- month_name: str - on which day the first day of the month falls (0 for Sunday, 1 for Monday, etc)
- day_number: str/int - the day of the month -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="../static/css/addTask.css">
</head>

<body>
    <!-- A template to display the date of the day goes here -->
    <h1 style="text-align: center;">Add a new task for {{ day_name }}, {{ month_name }} {{ day_number }}</h1>
    <!-- action can be changed -->
    <form action="addTask/newTask?dayNum={{ request.args['dayNum'] }}" method="POST" class="add_task_form">
        <label for="task_name">Task name:</label><br>
        <input type="text" id="task_name" name="task_name"><br>

        <label for="from_time">Start Time (HH:MM):</label><br>
        <input type="time" id="from_time" name="from_time" required><br>
        
        <label for="to_time">End Time (HH:MM):</label><br>
        <input type="time" id="to_time" name="to_time" required><br>
        
        <input type="submit" value="Submit">
    </form>

</body>
</html>