<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar View</title>
    <link rel="stylesheet" href="../styles/calendar.css">
</head>
<body>
<body>

    <h1 style="text-align: center;">Calendar</h1>
    <div class="calendar">
        <!-- Days of the week at top of calendar -->
        <div>Sun</div> <div>Mon</div> <div>Tue</div> <div>Wed</div> <div>Thu</div> <div>Fri</div> <div>Sat</div>

        <!-- Clickable Days -->
		<!-- dayview.html action is placeholder for flask function name -->
        <div><form action="dayview.html" method="POST"><button type="submit">1</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">2</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">3</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">4</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">5</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">6</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">7</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">8</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">9</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">10</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">11</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">12</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">13</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">14</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">15</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">16</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">17</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">18</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">19</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">20</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">21</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">22</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">23</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">24</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">25</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">26</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">27</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">28</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">29</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">30</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">31</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">32</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">33</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">34</button></form></div>
        <div><form action="dayview.html" method="POST"><button type="submit">35</button></form></div>
    </div>

</body>
</html>