<!DOCTYPE html>
<html lang="en">

<!-- expect template parameters: action_name, first_day_offset, num_days, month_name, last_month_days -->
<!-- where:
- action_name: str - the path for the action
- first_day_offset: int - is on which day the first day of the month falls (0 for Sunday, 1 for Monday, etc)
- num_days: int - the number of days in the given month
- month_name: int - the name of the month
- last_month_days: int - the number of days in the last month -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar View</title>
    <link rel="stylesheet" href="../static/css/calendar.css">
</head>

<body>

    <h1>Calendar</h1>
    <h1>{{ month_name }}</h1>
    <div class="calendar">
        <!-- Days of the week at top of calendar -->
        <div>Sun</div> <div>Mon</div> <div>Tue</div> <div>Wed</div> <div>Thu</div> <div>Fri</div> <div>Sat</div>

        <!-- Last Month Days - non clickable -->
        {% for i in range(last_month_days+1-first_day_offset, last_month_days+1) %}
        <div>{{ i }}</div>
        {% endfor %}
        <!-- Clickable Days -->
		<!-- dayview.html action is placeholder for flask function name --> <!--/{{ i }}-->
        {% for i in range(1, num_days+1) %}
        <div><form action="{{ action_name }}?dayNum={{ i }}" method="POST"><button type="submit">{{ i }}</button></form></div>
        {% endfor %}
        <!-- Next Month Days - non clickable -->
        {% for i in range(1, 36-(first_day_offset+num_days)) %}
        <div>{{ i }}</div>
        {% endfor %}
    </div>
    <h1> Todays Date: {{ current_time }} {{ current_date }} </h1>

</body>
</html>