<!DOCTYPE html>
<html lang="en">

<!-- expect template parameters: day_name, month_name, day_number, tasks -->
<!-- where:
- day_name: str - what day of the week it is
- month_name: str - on which day the first day of the month falls (0 for Sunday, 1 for Monday, etc)
- day_number: str/int - the day of the month 
- tasks: map<int, string> - all of the tasks that are available for the day -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day View</title>
    <link rel="stylesheet" href="../static/css/dayview.css">
</head>

<body>
    <h1>{{ day_name }}, {{ month_name }} {{ day_number }}</h1>
    <div class="timeline-container">
        <!-- 24-hour blocks with space for information below each block -->
        {% for h in range(0, 24) %}
        <div class="hour-block">
            <div class="hour">{{ h }}:00</div>
            <div class="info">{% if h in tasks %} {{ tasks[h] }} {% endif %}</div>
        </div>
        {% endfor %}
    </div>

    <div class="button-container">
        <form action="/addTask?dayNum={{ request.args['dayNum'] }}" method="POST"><button class="action-button">Add Task</button></form>
        <form action="viewTask" method="POST"><button class="action-button">View Tasks</button></form>
        <form action="serveTask" method="POST"><button class="action-button">Serve Task</button></form>
        <form action="editSchedule" method="POST"><button class="action-button">Edit Schedule</button></form>
        <form action="/" method="POST"><button class="action-button">View Schedule</button></form> <!--- Place Holder for Flask function --->
    </div>
</body>
</html>