<!DOCTYPE html>
<html lang="en">

    <!-- expect template parameters: task, pathViewCalendar, pathViewDay, pathDeleteTaskOrEvent -->
    <!-- where:
    - task: a task to display
        - start_time: int - at what time (in minutes from 0:00) the event starts
        - duration: int - duration of the event, in minutes
        - title: string - title of the event
        - _id: string - id of the event
        - is_task: bool - if true, it's a task; if false, it's an event -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task View</title>
    <link rel="stylesheet" href="../static/css/viewTaskEvent.css">
    <link rel="stylesheet" href="../static/css/button.css">
</head>

<body>
    <h1> {% if task.is_task %}Task{% else %}Event{% endif %} {{ task.title }} </h1>

    <div> {{ day_name }}, {{ month_name }} {{ day_number }} </div>

    <div> {{ task.from_time }} - {{ task.to_time }} (in minutes from midnight for now) </div>

    <div class="button-container">
        <form action="{{ pathViewDay }}?dayNum={{ task.day_number }}" method="POST"><button class="action-button">Back</button></form>
        <form action="{{ pathViewCalendar }}" method="POST"><button class="action-button">To Calendar</button></form>
        <form action="{{ pathDeleteTaskOrEvent }}?taskId={{ task._id }}" method="POST"><button class="action-button">Delete Task</button></form>
    </div>
</body>
</html>